*{
    color:black;
    font-family: 'Montserrat Alternates', sans-serif;
}


html, body{

cursor: none;

}

.custom-cursor{
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}

.kotek-kursor{
    width: 50px ;
    height: 50px;
   background-size: contain;
    background-position: top left;
}




#container{
    margin: auto;
    background-color: rgb(70, 145, 155);
}
#bg{
    margin: auto;
    background-color: rgb(255, 255, 255);
}
.Block{
    margin: 0;

    padding: 0%;
    background-color: black;
    height: 200px;

}

M{background-color: black;}
p{
    font-size: 23px;
}
.vl1{
    border-left: 10px solid rgb(43, 43, 148) ;
    height: 737px;
    position: absolute;
    top: -6% ;
    left: 54.7%;
}
a{
    color:green;
}
n
{
    color:rgb(37, 119, 214);
}
niebeski{
    color: rgb(43, 43, 148) ;
}
.dexter{
    position: absolute;
    left: 56%;
    top: -6%;
    height: 30%;

}
.fistaszek{
    position: absolute;
    left: 56%;
    top:25%;
    height: 30%;
    
}

.vl2{
    border-left: 10px solid rgb(43, 43, 148) ;
    height: 737px;
    position: absolute;
    top: -6% ;
    left: 93%;
}
header{
    background-color: rgb(63, 63, 125);
    height: 100px;
}
CV{
    color: aliceblue;
    font-size: 60px;
    position: absolute;
    left: 500px;
    font-family: 'Bebas Neue', sans-serif;
}
.pierwszegooglefoto{
    height: 100;
}
.button{
    margin: 0;
    border: 0;
    padding: 0;
    color: black;
    background-color: aliceblue;
    font-size: 15px;
}
.Block{
    display:none;
    margin-left:0px;
    padding:10px;
    margin-top: 0px;
    background:#f3f3f3;
    height:170px;

    -moz-box-shadow:0 5px 5px rgba(0,0,0,0.3);
    -webkit-box-shadow:0 5px 5px rgba(0,0,0,0.3);
    box-shadow:0 5px 5px rgba(0,0,0,0.3);  
}
.mama{
    border: 0px;
margin: 20px;
padding: 22px;
background-color: rgb(189, 203, 240);
font-size: 30px;
color: rgba(0, 0, 0, 0.856);
}
.holder1{
    position: relative;
    left: px;
    top: 15px;
}
.holder1:hover .Block{
    display:block;
    position:absolute;
    top: -15px;
    left: 17%;
    z-index: 9;
    width:400px;
}





@media only screen and (min-width: 0) and (max-width: 800px){
    .vl1{
        border-left: 10px solid rgb(43, 43, 148) ;
        height: 2060px;
        position: left;
        left: -10px;
    }
    .vl2{
        border-left: 10px solid rgb(43, 43, 148) ;
        height: 2060px;
        position: left;
        left: 360x;
    }
header{
    background-color: rgb(63, 63, 125);

}
CV{
    color: aliceblue;
    font-size: 40px;
    font-family: 'Bebas Neue', sans-serif;
    position: absolute;
    left: 40px;
    top: 30px;
}
.pierwszegooglefoto{
    height: 164px;
}
.dexter{
    height: 248px;
    position: absolute;
    left: 6px;
    top: 1340px;
}
.fistaszek{
    height: 244px;
    position: absolute;
    left: 6px;
    top: 100%;
}
}


